/.metadata/
/Servers/
AdoptaUnDado/src/main/java/servlets/ServletCerrarSesion.java
AdoptaUnDado/.metadata/version.ini
AdoptaUnDado/.metadata/defender.check
AdoptaUnDado/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
AdoptaUnDado/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
AdoptaUnDado/.metadata/.plugins/org.eclipse.ui.intro/introstate
AdoptaUnDado/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
AdoptaUnDado/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
AdoptaUnDado/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
AdoptaUnDado/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
AdoptaUnDado/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
AdoptaUnDado/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
AdoptaUnDado/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
AdoptaUnDado/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
AdoptaUnDado/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
AdoptaUnDado/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
AdoptaUnDado/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
AdoptaUnDado/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
AdoptaUnDado/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
AdoptaUnDado/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/winterwell.markdown.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sweetlemonade.eclipse.json.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sourceforge.jsonedit-core.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.scala-ide.sdt.core.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.scala-ide.play2.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.nodeclipse.enide.editors.jade.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.nodeclipse.enide.editors.gradle.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.jboss.ide.eclipse.freemarker.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.erlide.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.epic.perleditor.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.xtend.core.Xtend.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xsl.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.dtd.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.genericeditor.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.wikitext.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.CSS.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.tcl.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.ruby.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.datatools.sqltools.sqleditor.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.make.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.angularjs.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.dadacoalition.yedit.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.codehaus.groovy.eclipse.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.cloudsmith.geppetto.pp.dsl.PP.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.chromium.debug.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.cfeclipse.cfml.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.apache.ivyde.eclipse.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/net.vtst.ow.eclipse.less.Less.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sourceforge.texlipse.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sf.eclipsefp.haskell.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/jsonedit-core.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/jp.gr.java_conf.ussiy.app.propedit.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/eclihx.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/de.walware.statet.r.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/de.walware.statet.base.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.wolfram.eclipse.MEET.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.spket.xml.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.spket.js.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.puppetlabs.geppetto.pp.dsl.PP.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.puppetlabs.geppetto.module.dsl.Module.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.powerflasher.fdt.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.palantir.typescript.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.googlecode.goclipse.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.eclipse.protobuf.Protobuf.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.github.rustdt.ide.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.github.eclipsecolortheme.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.theming.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.sqlexplorer.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.monitor.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.dubture.twig.ui.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.axmor.eclipse.typescript.editor.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.mxml.core.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.css.core.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.as.core.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.runtime/.settings/ccw.core.prefs
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
AdoptaUnDado/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/splash-fix.css
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.pde.spy.css-1231266899.css
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.mylyn.tasks.ui--477129374.css
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.jdt.ui-326703266.css
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.epp.mpc.ui.css--1027399938.css
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.egit.ui-1849137576.css
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.buildship.ui-1231266899.css
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/color-definitions-fix.css
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
AdoptaUnDado/.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
AdoptaUnDado/.metadata/.mylyn/repositories.xml.zip
AdoptaUnDado/.metadata/.log
