<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>AdoptaUnDado</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
	<servlet>
		<servlet-name>ServletPrueba</servlet-name>
		<servlet-class>servlets.ServletPrueba</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletIndex</servlet-name>
		<servlet-class>servlets.ServletIndex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletNosotros</servlet-name>
		<servlet-class>servlets.ServletNosotros</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletCerrarSesion</servlet-name>
		<servlet-class>servlets.ServletCerrarSesion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletDetalle</servlet-name>
		<servlet-class>servlets.ServletDetalle</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletPrueba</servlet-name>
		<url-pattern>/ServletPrueba</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletIndex</servlet-name>
		<url-pattern>/ServletIndex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletNosotros</servlet-name>
		<url-pattern>/ServletNosotros</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCerrarSesion</servlet-name>
		<url-pattern>/ServletCerrarSesion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletDetalle</servlet-name>
		<url-pattern>/ServletDetalle</url-pattern>
	</servlet-mapping>
	
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/poolDadosDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>